body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 10px auto;
    border: black 2px solid;
    padding: 10px;
}

.header {
    padding: 10px;
    background-color: gray;
    display: flex;
}

.logo {
    width: 50px;
    height: auto;
    display: block;
}

.card-container {
    display: flex;
    margin: 10px 0;
}

.card {
    border: black 1px dashed;
    flex: 30%;
    padding: 5px;
    margin: 0 10px;
}

@media screen and (max-width: 800px){
    .card-container {
        flex-direction: column;
    }
    .card {
        margin: 5px;
    }
}

.card > h3 {
    border-bottom: black 1px solid;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 0px;
    padding-bottom: 10px;
}

.card > p {
    margin: 5px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 0;
    margin-top: 20px;
}

table {
    width: 100%;
    table-layout: fixed;
    border: 1px solid black;
}

th,td {
    border: 1px solid black;;
}

#span {
    text-align: center;
}

.table {
    overflow-x: auto;
}


.footer-bottom {
    background-color: blanchedalmond;
    padding: 5px 0 ;
    margin: 5px 0 20px 0;
    color: black;
}
